<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html{
            box-sizing: border-box;
        }
        *,*::after,*::before{
            box-sizing: inherit;
        }
        nav{
            background:rgb(170, 137, 201);
            display: flex;
            justify-content: space-between;
        }
        nav ul{
            float: right;
            display: flex;
            justify-content: space-around;
        }
        nav ul li{
            padding: 2px;
            list-style: none;
            display: inline-block;
        }
        nav ul li a{
            text-decoration: none;
            padding: inherit;
            font-size: 20px;
            color: black;
        }
        nav ul li a:hover{
            background: steelblue;
        }
    </style>
</head>
<body>
    <nav>
        <h1>DBMS Project</h1>
        <ul>
            <li><a href="/">Home</a></li>
             <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <section>
        <h2>Home Page</h2>
        <p>This is DBMS Project Home page</p>
    </section>
</body>
<footer>
    All Rights Reserved&copy; 2021
</footer>
</html>