<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <script>
        function validateForm() {
            var userid = document.forms["myForm"]["uid"].value;
            var sub = document.forms["myForm"]["subject"].value;
            var desc = document.forms["myForm"]["descript"].value;
            var tagnum = document.forms["myForm"]["tag"].value;
            if (userid == "" || userid == null || sub == "" || sub == null || desc =="" || desc == null || tagnum == "" || tagnum == null) {
                alert("Fill out all blank(s)!");
                return false;
            }
        }
        function goBack() {
            window.history.back();
        }

    </script>
</head>
<body>
    <form name="myForm" action="/verify//newblog" method="POST" onsubmit="return validateForm()" required>
        <label for="uid">User ID: </label>
        <input type="text" name="uid" value={{userid}} disabled style="border: none;"><br>
        <label for="subject">Subject: </label>
        <input type="text" name="subject"><br>
        <label for="descript">Description</label>
        <textarea name="descript" id="" cols="30" rows="10"></textarea><br>
        <label for="tag">Blog Tag: </label>
        <input type="text" name="tag" id=""><br>
        <input type="submit" value="New Blog">
    </form>
    <button onclick="goBack()">Go Back</button>
    {{message}}
</body>
</html>